# Server Config
APP_ENV=development
PORT=8080

# Database Config
DB_HOST=postgres
DB_PORT=5432
DB_USER=lokdb
DB_PASSWORD=lokpassword
DB_NAME=lokcenter
DB_SSLMODE=disable

# Security
JWT_SECRET=change-this-to-a-long-random-secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h

# Object Storage
AWS_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=admin_s3
AWS_SECRET_ACCESS_KEY=admin_secret_s3
AWS_REGION=us-east-1
AWS_BUCKET=lokcenter-bucket
AWS_USE_SSL=false
